.animated-title {
	pointer-events: none;
	z-index: 1;
	max-width: 100%;
	height: auto;
}

.animated-title path {
	display: none;
}

.animated-title .game-title-text {
	stroke: #efd89b;
	fill: none;
	font-family: 'Lincoln Road Deco', sans-serif;
	font-size: 48px;
	letter-spacing: 2px;
}
